/*******************************************************************************
                            General CSS rules
*******************************************************************************/
html {
  font-size: 18px;
}

.light {
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr repeat(8, 4fr);
  grid-template-areas: "header navigation"
                       "dashboard dashboard"
                       "visit visit"
                       "mobile mobile"
                       "social social"
                       "member member"
                       "activity activity"
                       "message message"
                       "setting setting";
}

/*******************************************************************************
                            Header CSS rules
*******************************************************************************/
header {
  background-color: #8888D6;
  color: #FFF;
  grid-area: header;
}

header h1 {
  margin: 0;
  font-size: .8em;
  padding: 10px;
}

#bell {
  border-right: 1px solid white;
}

#bell svg {
  width: 15px;
  padding: 0 10px;
}

#user {
  display: none;
}

#user img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*******************************************************************************
                            Navigation CSS rules
*******************************************************************************/
nav {
  background-color: #8888D6;
  color: #FFF;
  display: flex;
  grid-area: navigation;
}

 nav .icon {
  width: 15px;
  padding: 10px;
 }

.sections {
  border: 1px solid lightgrey;
}
/* other */
#dashboards {
  grid-area: dashboard;
}

/* other */
#visits {
  grid-area: visit;

}
/* other */
#mobiles {
  grid-area: mobile;
}
/* other */
#socials {
  grid-area: social;
}
/* other */
#members {
  grid-area: member;
}
/* other */
#activities {
  grid-area: activity;
}
/* other */
#messages {
  grid-area: message;
}
/* other */
#settings {
  grid-area: setting;
}
/*******************************************************************************
                            Media Query CSS rules
*******************************************************************************/
/*                         Tablet Media Query CSS rules                       */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 14fr;
    grid-template-rows: 1fr repeat(8, 4fr);
    grid-template-areas: "header header"
                         "navigation dashboard"
                         "navigation visit"
                         "navigation mobile"
                         "navigation social"
                         "navigation member"
                         "navigation activity"
                         "navigation message"
                         "navigation setting";
  }

  header h1 {
    font-size: 1em;
  }

  #bell svg {
    width: 20px;
  }

  #user {
    display: flex;
    margin: 0 10px;
  }

  #user h2 {
    margin: 0;
    font-size: .7em;
    padding-left: 10px;
  }

  nav {
    background-color: #5D5DA9;
    flex-direction: column;
    align-items: center;
  }

  nav .icon {
   width: 25px;
   padding: 20px 0;
  }
}

/*                         Desktop Media Query CSS rules                      */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 7fr 7fr;
    grid-template-rows: 1fr 11fr 8fr 5fr repeat(2, 8fr);
    grid-template-areas: "header header header"
                         "navigation dashboard dashboard"
                         "navigation visit mobile"
                         "navigation social social"
                         "navigation member activity"
                         "navigation message setting";
  }


  header h1 {
    font-size: 1.2em;
  }

  #bell svg {
    width: 25px;
  }

  #user img {
    width: 25px;
    height: 25px;
  }

  #user h2 {
    font-size: 1em;
  }

  nav .icon {
   width: 50px;
   padding: 30px 0;
  }
}
