/*******************************************************************************
                            General CSS rules
*******************************************************************************/

html {
  box-sizing: border-box;
  font-size: 18px;
}

h1,
p {
  margin: 0;
}

h2  {
  font-size: .8em;
  font-weight: normal;
  margin: 0 0 20px;
}

::placeholder {
  color: darkgray;
}

.light {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.half {
  width: 90%;
  margin: 10px auto 0;
}

.hidden {
  display: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 40px;
  grid-template-areas: "header navigation"
                       "notify notify"
                       "dashboard dashboard"
                       "visit visit"
                       "mobile mobile"
                       "social social"
                       "member member"
                       "activity activity"
                       "message message"
                       "setting setting";
}

/*******************************************************************************
                            Header CSS rules
*******************************************************************************/
header {
  background-color: #8888D6;
  color: #FFF;
  grid-area: header;
}

h1 {
  font-size: .8em;
  padding: 10px;
}

#bell {
  border-radius: 50%;
  padding: 3px 1px 2px;
  margin: 5px 10px;

}
#alerts {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #77C37A;

}
#bell svg {
  width: 20px;
  margin: auto 5px;
  transition: .4s ease-out;
}

#bell:hover {
  animation-name: shake;
  animation-duration: .2s;
  background-color: #77C37A;
}

#bell:hover > #alerts{
  opacity: 0;
}

@keyframes shake {
    30% {transform: rotate(30deg);}
    60% {transform: rotate(0deg);}
    90% {transform: rotate(-30deg);}
}

.notes {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  color: red;
  opacity: .5;
}

#user {
  display: none;
}

#user img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*******************************************************************************
                            Navigation CSS rules
*******************************************************************************/
nav {
  grid-area: navigation;
  background-color: #8888D6;
  color: #FFF;
  justify-content: space-between;
  padding: 5px 12px;
}

 nav .icon {
  width: 15px;
 }

/*******************************************************************************
                       Different sections general CSS rules
*******************************************************************************/
 .sections {
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   padding: 15px 15px 10px;
   color: gray;
 }

/*******************************************************************************
                        Dashboard section CSS rules
*******************************************************************************/
#notify {
  grid-area: notify;
  align-items: stretch;
}

.part1 {
  width: 30%;
  color: gray;
  font-size: 1em;
  text-align: center;
  margin: 10px 0;
}

.part2 {
  width: 70%;
  background-color: whitesmoke;
  border: 1px solid #DCDCDC;
  justify-content: flex-end;
  position: relative;
}

#searchAll {
  width: 60%;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #DCDCDC;
}

#searchAll:focus + img{
  display: none;
}

.part2 img{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 15px;
  opacity: .4;
}

/*******************************************************************************
                        Dashboard section CSS rules
*******************************************************************************/
#dashboards.sections {
  grid-area: dashboard;
  border-top: none;
  padding-top: 10px;
}

.alert {
  font-size: 0.9em;
  color: white;
  background-color: #8888CC;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alert span {
  font-size: 1em;
}

span.close {
  font-size: 1.5em;
  margin-left: 10px;
  margin-right: 5px;
}

#traffic,
#traffic li {
  display: inline-block;
}

.subMenu {
  margin-bottom: 20px;
}
.subMenu h2 {
  margin: 0;
}

li.general {
  font-size: .7em;
  border-radius: 30px;
  padding: 5px;
}

.chosen {
  color: white;
  background-color: #77C37A ;
}

/*******************************************************************************
                        Visits section CSS rules
*******************************************************************************/
#visits {
  grid-area: visit;

}

/*******************************************************************************
                        Mobiles section CSS rules
*******************************************************************************/
#mobiles {
  grid-area: mobile;
}

/*******************************************************************************
                       Social Stats section CSS rules
*******************************************************************************/
#socials {
  grid-area: social;
}

.medias {
  flex-direction: column;
  align-items: stretch;
}

.media {
  border: 1px solid #DCDCDC;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px 0;
  justify-content: flex-start;
}

.photo {
  background-color: #8888D6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
}

.photo svg {
  width: 50%;
  height: 50%;
  margin: 12px;
}

.stats {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stats h2 {
  font-size: 1em;
  color: #8888D6;
}

.stats p {
  font-size: 1.5em;
  font-weight: lighter;
}

/*******************************************************************************
                       New Members section CSS rules
                                    AND
                       Recent Activities section CSS rules
*******************************************************************************/
#members {
  grid-area: member;
}

#members img,
#activities img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.card,
.post {
  margin: 10px 0;
}

.card p {
  font-size: .75em;
}

p.mail {
  color: #8888D6;
}

#activities {
  grid-area: activity;
}

.post p {
  font-size: .8em;
}

p.link {
  color: #8888D6;
  font-size: .9em;
  margin-left: 10px;
}

/*******************************************************************************
                       Email message section CSS rules
*******************************************************************************/
#messages {
  grid-area: message;
}
#messages form {
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

#messages input,
#messages textarea {
  border-radius: 3px;
  border: 1px solid #DCDCDC;
  margin-bottom: 15px;
  padding: 5px;
  background-color: whitesmoke;
  color: darkgray;
  font-size: .8em;
}

#messages input {
  padding: 10px 5px;
}

#messages input[type="submit"] {
  border-radius: 5px;
  padding: 15px;
  background-color: #8888D6;
  color: white;
  font-size: .9em;
}

/*  format a class of input field for search with auto complete jquery plugin */
 .ui.input {
   width: 100%;
 }

 .lobibox-notify-wrapper.top {
   top: 40px;
 }
/*******************************************************************************
                            Settings section CSS rules
*******************************************************************************/
#settings {
  grid-area: setting;
}

#settings p {
  font-size: .8em;
  grid-column-start: 1;
  grid-column-end: 5;
}

.switch {
  position: relative;
  width: 75px;
  height: 25px;
  grid-column-start: 5;
  grid-column-end: 7;
}

.switch input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #DCDCDC;
  color: #DCDCDC;
  border-radius: 20px;
  padding-top: 2px;
  padding-left: 5px;
  transition: .1s ease-out;
}

.slider::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: 3px;
  bottom: 1px;
  background-color: white;
  border-radius: 50%;
  transition: .4s ease-out;
}

.switch input:checked + .slider {
  background-color: #8888D6;
  color: white;
}

.switch input:checked + .slider::before {
  transform: translate(200%);
}

#settings select {
  background-color: whitesmoke;
  color: darkgray;
  font-size: .8em;
  padding: 20px 10px;
  grid-column-start: 1;
  grid-column-end: 7;
}

#settings input[type="submit"] {
  border-radius: 5px;
  padding: 15px;
  background-color: #8888D6;
  color: white;
  font-size: .9em;
}

#settings input:disabled {
  background-color: gray;
}

#settings input[value="SAVE"] {
  grid-column-start: 1;
  grid-column-end: 4;
}

#settings input[value="CANCEL"] {
  grid-column-start: 4;
  grid-column-end: 7;
}

.slideGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
}

/*******************************************************************************
                            Media Query CSS rules
*******************************************************************************/
/*                         Tablet Media Query CSS rules                       */

@media (min-width: 768px) {
  .half {
    margin: 50px auto 0;
  }
  .grid {
    grid-template-columns: 1fr 14fr;
    grid-template-areas: "header header"
                         "navigation notify"
                         "navigation dashboard"
                         "navigation visit"
                         "navigation mobile"
                         "navigation social"
                         "navigation member"
                         "navigation activity"
                         "navigation message"
                         "navigation setting";
  }

  h1 {
    font-size: 1em;
  }

  h2 {
   font-size: .9em;
  }

  li.general {
    font-size: .9em;
    padding: 5px 15px;
  }


  #bell svg {
    width: 25px;
  }

  #user {
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    margin: 5px;
    padding-left: 10px;
  }

  #user h2 {
    margin: 0;
    font-size: .7em;
    padding: 0 10px;
  }

  nav.container {
    background-color: #5D5DA9;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  nav .icon {
   width: 25px;
   margin: 30px auto;
  }

  .part1 {
    font-size: 1.2em;
    width: 20%;
  }

  .part2 {
    width: 80%;
  }

  #searchAll {
    width: 30%;
  }

  .sections {
    padding: 20px;
  }

  .medias {
    flex-direction: row;
    justify-content: space-between;
  }

  .media {
    width: 30%;
  }

  #members img,
  #activities img {
    margin-right: 20px;
  }

  .card p,
  .post p  {
    font-size: 1em;
  }

  p.link {
    font-size: 1.2em;
    margin-left: 20px;
  }

  #messages input,
  #messages textarea,
  #settings p,
  #settings select {
    margin-top: 20px;
    font-size: 1em;
  }

  .switch {
    margin-top: 20px;
  }

  input[type="submit"] {
    font-size: 1.2em;
  }

}

/*                         Desktop Media Query CSS rules                      */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 7fr 7fr;
    grid-template-areas: "header header header"
                         "navigation notify notify"
                         "navigation dashboard dashboard"
                         "navigation visit mobile"
                         "navigation social social"
                         "navigation member activity"
                         "navigation message setting";
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
   font-size: 1.2em;
  }

  #bell svg {
    width: 25px;
  }

  #user img {
    width: 25px;
    height: 25px;
  }

  #user h2 {
    font-size: 1em;
  }

  #searchAll {
    width: 30%;
  }

  .alert {
    font-size: 1.1em;
    padding: 10px;
  }

  .alert span {
    font-size: 1.2em;
    margin-right: 5px;
  }

  li.general {
    font-size: 1.2em;
  }

  nav .icon {
   width: 50px;
   padding: 30px 0;
  }

  .sections {
    padding: 25px;
  }

  .stats h2 {
    font-size: 1.2em;
  }

  .stats p {
    font-size: 2em;
  }

  .post p  {
    font-size: .9em;
  }

  #messages input,
  #messages textarea {
    font-size: 1em;
  }

  #messages input[type="submit"],
  #settings input[type="submit"] {
    font-size: 1.2em;
  }

  #settings p {
    font-size: 1em;
    margin: 20px 0;
  }

  #settings select {
    padding: 20px 10px;
    font-size: 1em;
    margin: 20px 0 30px;
  }

}
